@charset "utf-8";
/* CSS Document */

.jumbotron{
	background-image: url("../Images/Prova.jpg");
	background-repeat:no-repeat;
	background-size: auto;
	background-attachment:fixed;
	color: #FFFFFF;
}

.display-3{
	font-family: "Bebas Neue Regular";
}

@font-face{
	font-family: "Bebas Neue Regular";
	src: url("../font/BebasNeue Book.otf");
}

#map{
	text-align: center;
	display: block;
}