@charset "utf-8";
/* CSS Document */

.jumbotron{
	background-image: url("../Images/Prova.jpg");
	height:320px;
	background-color:#008ca8;
	padding:24px;
	display:table;
	width:100%;
	background-size:cover;
	background-position:50% 60%;
	background-repeat:no-repeat;
	margin:0 auto;
	color: #FFFFFF;
}

.display-3{
	font-family: "Bebas Neue Regular";
}

@font-face{
	font-family: "Bebas Neue Regular";
	src: url("../font/BebasNeue Book.otf");
}

.title-map{
	font-family: "Bebas Neue Regular";
	font-size: 60px;
}

.click-on{
	color: #575757;
}

#map{
	text-align: center;
	display: block;
}