@charset "utf-8";
/* CSS Document */

.jumbotron{
	background-image: url("../Images/Prova.jpg");
	height:320px;
	background-color:#008ca8;
	padding:24px;
	display:table;
	width:100%;
	background-size:cover;
	background-position:50% 60%;
	background-repeat:no-repeat;
	margin:0 auto;
	color: #FFFFFF;
}

.display-3{
	font-family: "Bebas Neue Regular";
}

@font-face{
	font-family: "Bebas Neue Regular";
	src: url("../font/BebasNeue Book.otf");
}

.title-map{
	font-family: "Bebas Neue Regular";
	font-size: 60px;
}

.click-on{
	color: #575757;
}

#map{
	text-align: center;
	display: block;
}

.newyorkclass{
    font-family: "Bebas Neue Regular"; position:relative;
  	color: white; margin-top: 32.5% ; margin-right: 70%;
}

.timeline_header {
	font-family: "Bebas Neue Regular"; font-size: 35px;
	text-align: left; margin-left: 7.5%; margin-top: -1.5%; margin-bottom: -0.1%;
}

.parisclass {
	font-family: "Bebas Neue Regular"; font-size: 35px;
	text-align: left; margin-left: 7.5%; margin-top: -1.5%; margin-bottom: -0.1%;
}


@media screen and (max-width:2560px){
	.newyorkclass{
    	margin-top: 21%; margin-right: 70%;
	}
	.timeline_header{
		margin-left: 9%;
	}
}


@media screen and (max-width:1920px){
	.newyorkclass{
    	margin-top: 29%; margin-right: 65%;
	}
}

@media screen and (max-width:1440px){
	.newyorkclass{
    	margin-top: 37%; margin-right: 60%;
	}
	.timeline_header{
		margin-left: 9%;
	}
	.parisclass{
    	margin-top: 74%
	}
}
@media screen and (max-width:1199.98px){
	.newyorkclass{
    	margin-top: 60%; margin-right: 55%;
	}
}

@media screen and (max-width:1024px){
	.newyorkclass{
    	margin-top: 50%; margin-right: 50%;
	}
}

@media screen and (max-width:991.98px){
	.newyorkclass{
    	margin-top: 52%; margin-right: 50%;
	}
}

@media screen and (max-width:960px){
	.newyorkclass{
    	margin-top: 27%; margin-right: 75%;
	}
}

@media screen and (max-width:32.25rem){
	.newyorkclass{
    	margin-top: 50%; margin-right: 60%;
	}
}

@media screen and (max-width:360px){
	.newyorkclass{
    	margin-top: 75% ; margin-right: 40%;
	}
	.display-3{
	}
	.image{
		max-width: 100%;
		height: auto;
	}
}
