/* DA CAMBIARE */

.half{
	background: url("../Images/Fly_iStock_000050476154_Large.jpg");
	height:300px;position:relative;display:inline-block;
	box-sizing:border-box;border-right:2px #fff solid
}

.indent-wrap{
	background: url("../Images/Fly_iStock_000050476154_Large.jpg");
	height:300px;position:relative;display:inline-block;
	box-sizing:border-box;border-right:2px #fff solid
}

.quarter{
	background: url("../Images/Fly_iStock_000050476154_Large.jpg");
	height:300px;position:relative;display:inline-block;
	box-sizing:border-box;border-right:2px #fff solid
}



/*Block*/

.shelf .shelf-tiles .half{width:50%}
.shelf .shelf-tiles .quarter{width:25%}
.shelf .shelf-tiles .two-third{width:66.6666666666666666666666%}


/* Point&Line */

.inspiration-timeline .origin{text-align:right;display:inline;padding-bottom:3px}
.inspiration-timeline .origin label{color:#817b8f;font-size:14px;font-weight:400}
.inspiration-timeline .origin input{display:none}


@media screen and (max-width:960px){.inspiration-timeline .origin input{width:80px}.inspiration-timeline .origin input:focus{width:140px}}.inspiration-timeline .timeline{margin:1.125rem 0 2.625rem;padding:0;list-style:none;position:relative}.inspiration-timeline .timeline .timeline-background,.inspiration-timeline .timeline:after{position:relative;z-index:9}
.inspiration-timeline .timeline .timeline-middleground{position:relative;z-index:10}.inspiration-timeline .timeline .timeline-foreground,.inspiration-timeline .timeline:before{position:relative;z-index:11}.inspiration-timeline .timeline:after,.inspiration-timeline .timeline:before{content:'';position:absolute;bottom:2.625rem;width:.375rem;border-radius:.375rem .375rem 0 0;left:1.5rem;top:16px}.inspiration-timeline .timeline:before{background:#fff;opacity:.7}
.inspiration-timeline .timeline:after{background:#817b8f}@media screen and (max-width:960px){.inspiration-timeline .timeline:after,.inspiration-timeline .timeline:before{left:1.125rem}}.inspiration-timeline .timeline>li{list-style:none;margin:0;position:relative}.inspiration-timeline .timeline>li .dot{width:.75rem;height:.75rem;position:absolute;background:#817b8f;border-radius:50%;text-align:center;left:-webkit-calc(1.5rem - (.75rem - .375rem)/ 2);left:calc(1.5rem - (.75rem - .375rem)/ 2);top:-webkit-calc((1.875rem - .75rem)/ 2);top:calc((1.875rem - .75rem)/ 2);margin:0}
.inspiration-timeline .timeline:after{background:#817b8f}@media screen and (max-width:960px){.inspiration-timeline .timeline:after,.inspiration-timeline .timeline:before{left:1.125rem}}.inspiration-timeline .timeline>li{list-style:none;margin:0;position:relative}.inspiration-timeline .timeline>li .dot{width:.75rem;height:.75rem;position:absolute;background:#817b8f;border-radius:50%;text-align:center;left:-webkit-calc(1.5rem - (.75rem - .375rem)/ 2);left:calc(1.5rem - (.75rem - .375rem)/ 2);top:-webkit-calc((1.875rem - .75rem)/ 2);top:calc((1.875rem - .75rem)/ 2);margin:0}

/* Grandezza riquadri*/

.inspiration-timeline .timeline>li .timeline-head{margin-bottom:.75rem;color:#00B2D6;position:relative}
.inspiration-timeline .timeline>li .timeline-head h2{padding:0 0 0 2.625rem;margin:0;font-size:1.5rem;line-height:1.875rem;font-weight:300;color:#524c61}

/*End grey line*/

.inspiration-timeline .timeline>li .timeline-head time span{color:#817b8f;padding:0 0 3px 2.625rem;font-size:14px;margin-right:.75rem}.inspiration-timeline .timeline>li .alternative-link{height:2.625rem}